<%if user_signed_in?%>
<%form_with model:@company,local: true do |f| %>
<div class= "container">
<div class= "row">
<div class= "col-md-6">
    <div class= "form-group"> 
        <%f.label :company_name%>
        <%f.text_field :name ,placeholder: "eg.Bajaj"%>
    </div> 

    <div class= "form-group"> 
        <%f.label :website%>
        <%f.text_field :website ,placeholder: "eg.Bajaj"%>
    </div> 

    <div class= "form-group"> 
        <%f.label :email%>
        <%f.text_field :email ,placeholder: "eg.Bajaj"%>
    </div> 
    <%f.submit%>
<%end%>
</div>
</div>
</div>
<%else%>
<h3>Please login!!!!!!!!</h3>
<h3>If you are new user then sign up</h3>
<%= link_to 'sign in', new_user_registration_path %>
<%= link_to 'sign in', new_user_session_path %>
<%end%>